<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests" thread-count="5">

	<listeners>
		<listener class-name="com.demo.listeners.TestNGListenersDemo"/>
	</listeners>
	
  	<test name="bhavi">
  		<classes>
  			<class name="com.demo.DesiredCapabilitesChromeOptionsDemo"/>
  		</classes>
  	</test>
  	
  </suite> 
